<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot password page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/signin.css}"/>
</head>
<body>

<div class="container" ng-controller="loginCtrl">
    <form class="form-signin" th:action="@{/forgot}" method="post">
        <label for="username">Email</label>:
        <input class="form-control" type="text" id="username" name="username"/> <br/>
        <input class="btn-lg btn-primary btn-block" type="submit" value="Log in"/>
        <a href="signup">Don't have an account?</a>
        <br><a href="forgot">Forgot your password?</a></br>
    </form>
</div>
</body>
</html>