<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/signin.css}"/>
</head>
<body>

<p th:if="${loginError}">Wrong user or password</p>

<div class="container" ng-controller="loginCtrl">
    < class="form-signin" th:action="@{/auth}" method="post">
    <label for="username">Email</label>:
    <input class="form-control" type="text" id="username" name="username"/> <br/>
    <label for="password">Password</label>:
    <input class="form-control" type="password" id="password" name="password"/> <br/>
    <input class="btn-lg btn-primary btn-block" type="submit" value="Log in"/>
    <a href="signup">Don't have an account?</a>
    <br><a href="signup">Forgot your password?</a></br>
    </form>
</div>
</body>
</html>