<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Signup page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/signin.css}"/>
</head>
<body>

<div class="container">
    <form th:object="${user}" class="form-signin" th:action="@{/signup}" method="post">
        <label for="username">Email:</label>
        <input class="form-control" type="text" id="username" th:field="*{email}"/>
        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label><br/>

        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" th:field="*{password}"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label><br/>

        <label for="cf_password">Confirm Password:</label>
        <input class="form-control" type="password" id="cf_password" name="repassword"/><br/>
        <span for="cf_password" th:text="${error}"></span><br/>
        <input class="btn-lg btn-primary btn-block" type="submit" value="Sign up"/><br/>
        <a href="profile">Back to home</a>
    </form>
</div>
</body>
</html>